html {
  font-family: "IBM Plex Sans", sans-serif;
}

h1 img {
  width: 200px;
}

header {
  background-color: #ddd;
}

ul {
  background-color: #efefef;
}

.back {
  background-color: #fff;
}

.dis {
  min-width: 10em;
}

th {
  min-width: 5.5rem;
  max-width: 6rem;
}

td {
  min-width: 5.5rem;
  max-width: 6rem;
}
